{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Notifications {% endblock title %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="container-fluid ps-xl-5 px-1 py-xl-1 py-3 overflow-x-hidden">
    <div class="row">
        <div class="col-12">
            <div class="card main-card">
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div>
                            <h5 class="mb-0">Notifications</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body px-3 pb-0">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}